.bottle-container img{
width: 250px;
}
.bottles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.bottle-container{
    border: 1px solid gold;
    padding: 20px;
    border-radius: 10px;
}
.cart-container img{
    width: 75px;
    margin-left: 5px;
}
.cart-container{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-bottom: 10px;
}